@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')

*
  margin 0
  padding 0
  box-sizing border-box

body
  font-family 'Source Code Pro', monospace
  background-color #e9d9bd29

#floated
    float left
    margin-right 20px


#floated2
    float right
    margin-left 20px
  
#anathem
  margin-left 16px

.header
  background url('/images/circuit-board-resistor.jpeg')
  background-position center

  .page-title
    font-weight 200
    font-size 80px
    text-align center
    padding 100px
    text-transform uppercase
    color #fff
    text-shadow -1px -1px 2px #203e4d, 1px -1px 2px #203e4d, -1px 1px 2px #203e4d, 1px 1px 2px #203e4d

.nav
  background #032a37
  text-align center

  li
    display inline-block

  a
    display inline-block
    padding 20px
    color #fff
    text-decoration none

    &:hover
      background-color #3AB795
      text-decoration underline

.main-content
  margin 50px auto
  max-width 600px

  p
    line-height 1.6
    margin-bottom 1.7em

.footer
  margin 50px auto
  max-width 600px
  border-top 1px solid #444
  padding 20px 0

  p
    color #444
    font-size 12px
    
button[type="submit"]  
  border 0
  background #ceb48f
  box-shadow none
  border-radius 0px
  
fieldset
  background-color #CCC
  max-width 500px
  padding 16px 

.fixit
  margin-left 5px
