doctype html
html
  head
    // link(rel='stylesheet', href='https://bootswatch.com/4/darkly/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    title Dwemer Consulting
  body
    .header
      h1.page-title Dwemer Consulting

    ul.nav 
      li: a(href='/') Home
      // li: a(href='/news') News
      li: a(href='/about') About
      li: a(href='/contact') Contact
    
    .main-content
      block content

    .footer
      p Copyright © 2019 Dwemer Consulting.
