extend default

block content
  h2.
    Services Offered:
  br.
  ul#anathem
    li Web Design
    li Application Development
    li Exchange Server Migration
    li System Architecture
    li Information Security
    li Database Administration
    li Systems Administration
    li Desktop Support
    li Network Administration 
